<!-- landing body -->
<div class="container-fluid m-0 p-0 bg-0" id="landing-bg">
    <div class="container-fluid" id="title">
<!-- landing body title  -->  
        <h1 class="row" id="landing-title">
            <span id="sub-title">We are</span>
            <span><span id="in">IN</span>GAME</span>
            <div class="row justify-content-center">
                <a href="http://facebook.com" target="_blank" id="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="http://facebook.com" target="_blank" id="facebook"><i class="fab fa-instagram-square"></i></a>
                <a href="http://facebook.com" target="_blank" id="facebook" class="mt-1"><i class="fab fa-discord"></i></a>
            </div>
        </h1>
        <img class="row" src="assets/landing_images/ingame_logo.png" id="logo">
    </div>
<!-- gamer image -->
    <div class="container-fluid m-0 p-0">
        <img id="gamer" src="assets/landing_images/gamer.png" class="gamer-animate">
        <!--<div class="container-fluid m-0" id="gamer-bg"></div>-->
    </div>
</div>
