<!-- landing body -->
<div class="container-fluid m-0 vh-100 p-0 bg-0" id="landing-bg">
    <div class="container-fluid" id="title-bg">
<!-- landing body title  -->        
        <h1 id="landing-title">
            <span class="text-animate" id="sub-title">We are</span>
            <span class="text-animate"><span id="in">IN</span>GAME</span>    
        </h1>
    </div>
<!-- gamer image -->
    <img id="gamer" src="assets/landing_images/gamer.png" class="gamer-animate">
    <div class="container-fluid" id="gamer-bg"></div>
    <div class="container-fluid vh-100" id="landing-main"></div>
</div>
