/* global config */
h1 {
    text-shadow: 3px 3px 10px black;
    z-index: 10;
}

i {
    font-size: 50%;
    margin: 0 16px 0 16px;
}

a:hover {
    color: rgb(0, 183, 255);
}


/* landing bg */
/* landing body */
#landing-bg {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.322)), url(../../assets/landing_images/test.jpg);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
    margin: 0;
}

/* landing text*/
/* text */
#landing-title {
    display: grid;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-content: center;
    justify-content: center;
    color: white;
    font-size:13rem;
    text-align: center;
    line-height: 0.90;
}

.text-animate {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
    transition-duration: 1s;
    transition-delay: .5s;
}

#sub-title {
    color:rgb(0, 183, 255);
    font-size: 6rem;
}

#in {
    color: rgb(0, 183, 255);
}


/* gamer  */
.gamer-animate {
    transform: translate3d(-10%, 0, 0);
    transition-duration: 1.8s;
    opacity: 0;
}

#gamer-bg {
    background-color: rgb(0, 183, 255);
    height: 45vh;
    clip-path: polygon(0 30%,100% 0,100% 90%,0 100%);
    transition-duration: .3s;
    position: absolute;
    bottom: -5rem;
}

#gamer {
    z-index: 4;
    position: absolute;
    bottom: 2rem;
    right: -4rem;
    border: 1rem rgb(0, 255, 115);
    overflow: hidden;
    width: 40%;
}

#logo {
    width: 40%;
    opacity: 0.9;
    position: absolute;
    left: 0;
    right: 0;
    margin: 4rem auto;
}


/* responsive up to 1300px */
@media screen and (max-width: 1300px) and (min-width: 800px) {
    #gamer {
        display: none;
    }

    #logo {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #landing-bg {
        clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
    }

    #gamer-bg {
        clip-path: polygon(0 15%,100% 0,100% 90%,0 100%);
    }
}

/* responsive up to 800px */
@media screen and (max-width: 850px) and (min-width:800px) {
    #gamer {
        display: none
    }

    #landing-title {
        font-size: 12rem;
    }

    #landing-bg {
        clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
    }

    #gamer-bg {
        clip-path: polygon(0 15%,100% 0,100% 90%,0 100%);
    }
}

@media screen and (min-width:450px) and (max-width:850px) {
    #gamer {
        display: none;
    }

    #logo {
        width: 70vw;

    }
    #landing-bg {
        clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
    }

    #gamer-bg {
        clip-path: polygon(0 15%,100% 0,100% 90%,0 100%);
    }
}

/* responsive up to 400px */
@media screen and (max-width: 450px) {
    #landing-title {
        font-size: 5rem;
    }

    #sub-title {
        font-size: 4rem;
    }

    #logo {
        width: 80%;
    }

    #gamer {
        display: none;
        top: 3rem;
        left: 50%/2;
    }
    #landing-bg {
        clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
    }

    #gamer-bg {
        clip-path: polygon(0 15%,100% 0,100% 90%,0 100%);
    }
}
