#gamelist-main{
    background-color: white;
}

h1 {
    font-size: 6rem;
    color: rgb(0, 183, 255);
}

p {
    color: rgb(5, 56, 52);
}

#carte {
    height: auto;
    width: 22rem;
}


#carte img {
    height: 24rem;
}

.card-columns {
    column-count: 3;
}