<!-- computer container -->
<div id="computer-bg" class="container-fluid">
    <!---- image row ----->
    <div class="container-fluid" id="image-container">
        <div class="row">
            <div class="col">
                <img data-aos="fade-right" data-aos-delay="10" data-aos-easing="ease-in" src="assets/config_images/computer.png" id="computer">
            </div>
            <div class="col">
                <img data-aos="fade-left" data-aos-delay="10" data-aos-duration="600" data-aos-easing="ease-in" src="assets/config_images/keyboard.png" id="keyboard">
            </div>
        </div> 
    </div>
    <!---- config row ---->
    <div class="container mt-5">
        <div class="row">
            <!-- Title -->
            <div class="col-md text-center mt-5">
                <h1 data-aos="fade-up" data-aos-delay="100" id="config">Nos configs</h1>
             </div>
        </div>
        <div class="row m-5">
            <!-- specs -->
            <div class="col">
                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <p><span>Processeurs:</span> AMD Ryzen 3800x</p>
                </div>
                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
                    <p><span>Rams: </span> 16Gb 3200Mhz DDR4</p>
                </div>
                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="400">
                    <p><span>Cartes graphiques: </span> GTX 1660 Super</p>
                </div>
            </div>  
        </div>
    </div>

</div>