/* computer container */
h1 {
    font-size: 6rem;
    color:rgb(0, 183, 255);
    z-index: 10;
}

span, p {
    color: rgb(5, 56, 52)
}

#computer-bg {
    height: 50vh;

}


#computer {
    position: absolute;
    width: 35vw;
    z-index: 3;
}

#keyboard {
    position: absolute;
    right: -5rem;
    width: 40vw;
}

#image-container {
    position: relative;
}

@media screen and (max-width: 1300px) and (min-width: 800px) {
    #computer {
        display: none;
    }

    #keyboard {
        display: none;
    }

    h1 {
        font-size: 6rem;
    }

    #computer-bg {
        height: 40vh;
    }
}

@media screen and (max-width: 850px) and (min-width:400px) {
    #computer {
        display: none;
    }

    #keyboard {
        display: none;
    }

    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 450px) {
    #computer {
        display: none;
    }

    #keyboard {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
        margin: 0
    }

    #computer-bg {
        height: auto;
    }

    span, p {
        font-size: 1.3rem;
        margin: 2px;
        padding: 0;
    }
}
