/* computer container */
h1 {
    font-size: 6rem;
    color:rgb(0, 183, 255)
}

span, p {
    color: rgb(5, 56, 52)
}

#computer-bg {
    height: 50vh;
    z-index: 10;
}


#computer {
    position: absolute;
    width: 40rem;
    z-index: 5;
}

#keyboard {
    position: absolute;
    right: -5rem;
    width: 40vw;
}

#image-container {
    position: relative;
}
