/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  
h1, h5, p, a{
    font-family: 'Luckiest Guy', cursive;
    color: rgb(5, 56, 52);
}

p {
    color:rgb(0, 183, 255);
}

p, h5 {
    font-size: 1.6rem;
}