<nav class="navbar navbar-expand-lg navbar-light shadow d-flex" id="zebar"> 
    <div class="container justify-content-center"> 
        <div class="row">
            <a href="top" class="navbar-brand mr-5" id="brand-logo">
                <img src="assets/navbar_image/ingame_logo.png" alt="" class="d-inline-block align-top">
                INGAME Tahiti
            </a>
            <ul class="navbar-nav mr-auto align-content-center" >
                <li class="nav-item ">
                    <a href="#top" class="nav-link" id="acceuil-link">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a href="#config" class="nav-link" id="config-link">Nos Configs</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" id="confort-link">Confort</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" id="contact-link">Contacts</a>
                </li>
            </ul>
        </div>   
    </div>
</nav>

